@font-face {
    font-family: "iconfont"; /* Project id 4516690 */
    src: url('//at.alicdn.com/t/c/font_4516690_y9me3lmxr8r.woff2?t=1716284987338') format('woff2'),
    url('//at.alicdn.com/t/c/font_4516690_y9me3lmxr8r.woff?t=1716284987338') format('woff'),
    url('//at.alicdn.com/t/c/font_4516690_y9me3lmxr8r.ttf?t=1716284987338') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-miaoshu:before {
    content: "\e643";
}

.icon-xingxing:before {
    content: "\e859";
}

.icon-github:before {
    content: "\e64c";
}

.icon-wikipedia:before {
    content: "\e7ac";
}

.icon-gongkai:before {
    content: "\e6a9";
}

.icon-banbenhao:before {
    content: "\ea51";
}

.icon-liulanliang:before {
    content: "\e679";
}
