// 引入公共基础类
@import "./libs/css/common.scss";

// 非nvue的样式
/* #ifndef APP-NVUE */
@import "./libs/css/vue.scss";
/* #endif */

.search-data {
  background-color: #ffffff; /* 使用更简洁的颜色声明 */
  border: 1px solid #d0d7de; /* 合并边框样式 */
  border-radius: 12rpx;
  padding: 32rpx 20rpx 8rpx; /* 合并内边距设置 */
}

.search-h1-40rpx{
  font-size: 40rpx;
}
.search-h1-32{
  font-size: 32rpx;
}
.search-uv-flex{
  display: flex;
}
.justify-content-flex-start{
    justify-content: flex-start;

}
.justify-content-flex-end{
    justify-content: flex-end;

}
.search-h1-26{
    font-size: 26rpx;
}

.search-h1-24{
  font-size: 24rpx;
}
.flex-wrap{
  flex-wrap: wrap;
}
.justify-content-center{
  justify-content: center;
}
.align-items-center{
  align-items: center;
}
uni-modal {
  z-index: 10000;
}
.status-btn-fixed{
  position: fixed;
}
.status-btn-bottom{
  bottom: 0;
}
.status-btn-left{
  left: 0;
}
.status-btn-right{
  right: 0;
}
.status-btn-top{
  top: 0;
}
.status-btn-width{
 width: 100%;
}
.status-btn-width-09{
  width: 90%;
}
.a-link{
  padding: 20rpx 0;
}
.menu-position{
  position: fixed;
}
.menu-position-top-50{
  top: 50%;
}
.menu-position-bottom-0{
  bottom: 0;
}
.menu-position-bottom-50{
  bottom: 50%;
}
.menu-position-right{
    right: 0;
}
.menu-position-right-50rpx{
  right: 50rpx;
}
